.idea/
public/
node_modules/

assets/img/collaborations/adblockers/AdblockPlus/adblock-plus-full.png
assets/img/collaborations/adblockers/AdblockPlus/adblockplus-logo-color.svg
assets/img/collaborations/adblockers/AdblockPlus/crowdin-logo.png
assets/img/collaborations/adblockers/AdblockPlus/how-adblock-plus-works.png

assets/img/collaborations/entertainment/EpisodeCalendar/episodeCalendar-catalog.jpeg
assets/img/collaborations/entertainment/EpisodeCalendar/episodeCalendar-home.png
assets/img/collaborations/entertainment/EpisodeCalendar/episodeCalendar-logo.png
assets/img/collaborations/entertainment/EpisodeCalendar/episodeCalendar-menu.png
assets/img/collaborations/entertainment/PopcornTime/popcorn-time-series.webp
assets/img/collaborations/entertainment/PopcornTime/popcorntime-catalog.jpg
assets/img/collaborations/entertainment/PopcornTime/popcorntime-logo.png
assets/img/collaborations/entertainment/PopcornTime/transifex-logo.svg

assets/img/collaborations/videogames/GalaxyInTurmoil/deploy-menu.jpg
assets/img/collaborations/videogames/GalaxyInTurmoil/frontwire-logo.jpg
assets/img/collaborations/videogames/GalaxyInTurmoil/git-cover.jpg
assets/img/collaborations/videogames/GalaxyInTurmoil/ship-space.jpg
assets/img/collaborations/videogames/GalaxyInTurmoil/tanks-map.jpg

assets/img/projects/atWork/conll-shared-task-tool/analise-corpus-collisions.png
assets/img/projects/atWork/conll-shared-task-tool/analise-corpus-opinions.png
assets/img/projects/atWork/conll-shared-task-tool/shared-task-2018.png
assets/img/projects/atWork/conll-shared-task-tool/universalDependencies-logo.png

assets/img/projects/atWork/conllu-conll-tool/conllu-format.png
assets/img/projects/atWork/conllu-conll-tool/sentence-graph.png

assets/img/projects/atWork/corpus-translator/huggingface-languages.png
assets/img/projects/atWork/corpus-translator/huggingface-logo.svg
assets/img/projects/atWork/corpus-translator/huggingface-tasks.png
assets/img/projects/atWork/corpus-translator/translate-logo.png

assets/img/projects/spareTime/CheckEpisodeOrMovieBot/omdb-api.png
assets/img/projects/spareTime/CheckEpisodeOrMovieBot/python-telegram-bot.png
assets/img/projects/spareTime/CheckEpisodeOrMovieBot/telegram-bot-logo.png
assets/img/projects/spareTime/CheckEpisodeOrMovieBot/yts-logo.svg

assets/img/projects/spareTime/downloadPokemonAssets/icons-example.png
assets/img/projects/spareTime/downloadPokemonAssets/images-example.png
assets/img/projects/spareTime/downloadPokemonAssets/pokemon-logo.png

assets/img/projects/spareTime/tinder-bot/selenium-logo.svg
assets/img/projects/spareTime/tinder-bot/tensorflow-logo.png
assets/img/projects/spareTime/tinder-bot/tinder-bots.jpg
assets/img/projects/spareTime/tinder-bot/tinder-logo.png

assets/img/projects/spareTime/WeddingPhotoDownloader/fotoshare-logo.png
assets/img/projects/spareTime/WeddingPhotoDownloader/gecko-logo.svg
assets/img/projects/spareTime/WeddingPhotoDownloader/selenium-logo.svg
assets/img/projects/spareTime/WeddingPhotoDownloader/weeding-logo.png

assets/img/projects/spareTime/WhatDoesItSay/google-cloud-storage-logo.jpeg
assets/img/projects/spareTime/WhatDoesItSay/google-speech-to-text-logo.png
assets/img/projects/spareTime/WhatDoesItSay/lyrics-logo.png
assets/img/projects/spareTime/WhatDoesItSay/spleeter-logo.jpg

assets/img/references/carlos.jpg
assets/img/references/david.jpg
assets/img/references/miguel.jpg

assets/img/theMedia/bulletins/UniversityOfWashington/citic.png
assets/img/theMedia/bulletins/UniversityOfWashington/fic.png
assets/img/theMedia/bulletins/UniversityOfWashington/group.png
assets/img/theMedia/bulletins/UniversityOfWashington/philo.png
assets/img/theMedia/bulletins/UniversityOfWashington/UniversityOfWashington-logo.svg

assets/img/theMedia/events/Codemotion/botsLovers.jpg
assets/img/theMedia/events/Codemotion/codemotion-logo.jpg
assets/img/theMedia/events/Codemotion/codemotionStart.jpg
assets/img/theMedia/events/Codemotion/johnRomero.jpg
assets/img/theMedia/events/Codemotion/merchandising.jpg

assets/img/theMedia/promotions/lys/lys_logo.png

assets/img/theMedia/quizzes/Uzbekistan/EmblemOfUzbekistan.svg
assets/img/theMedia/quizzes/Uzbekistan/second.jpg
assets/img/theMedia/quizzes/Uzbekistan/third.jpg

assets/img/apple-touch-icon.png
assets/img/avatar.jpg
assets/img/background.jpg
assets/img/favicon.png
assets/img/PipBoy.jpg

assets/pdf/certificates/Coursera-MachineLearning.pdf
assets/pdf/certificates/CPAM-Certificate.pdf
assets/pdf/certificates/GoogleActivate-CloudComputing.pdf
assets/pdf/certificates/GoogleActivate-MobileApps.pdf
assets/pdf/certificates/GoogleActivate-WebDevelopmentIntroduction-1.pdf
assets/pdf/certificates/GoogleActivate-WebDevelopmentIntroduction-2.pdf
assets/pdf/certificates/HCAHW-Certificate.pdf
assets/pdf/certificates/LinuxFundation-LFD103.pdf
assets/pdf/certificates/MiriadaX-HCFO.pdf
assets/pdf/certificates/SCRUMstudy-Certificate.pdf
assets/pdf/certificates/Udemy-React.pdf

assets/pdf/cv/CV.pdf

assets/pdf/diploma/quiz-uzbekistan.pdf

assets/pdf/letters/letter-carlos.pdf
assets/pdf/letters/letter-david.pdf
assets/pdf/letters/letter-luaces.pdf

assets/pdf/newsletters/uw-2021-aut-02.pdf
